@model IEnumerable<TrailerCheck.Models.Trailer>

@{
    ViewData["Title"] = "Trailers";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TrailerID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductGroup)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TrailerID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductGroup)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TrailerID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TrailerID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TrailerID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
